<div class="hero-unit">
  <p>
    It looks like you haven't linked your GitHub account to your Rackspace SSO. You'll need to do
    that before you can be granted access to the Rackspace organization on Github. To get started
    you just have to authorize this app to your Github account using the OAuth link below.
  </p>

  <p>
    <%= image_tag "github-logo.png" %>
    <a class="btn btn-primary btn-large" href="<%= @gh_uri  %>">Sign In To GitHub »</a>
  </p>
</div>
